In [12]:
from scito import preprocess
import seaborn as sns
import scanpy as sc
import pandas as pd
import numpy as np

# Multiplet Rate for 100k

In [13]:
path = '/Users/antonogorodnikov/Documents/Work/DataSci/SCITO-seq/tests/100k_filtered_feature_bc_matrix.h5'
verbose = True

In [14]:
adata = sc.read_10x_h5(path, gex_only=False)

Variable names are not unique. To make them unique, call `.var_names_make_unique`.

In [15]:
adata

AnnData object with n_obs × n_vars = 35371 × 33818
    var: 'gene_ids', 'feature_types', 'genome'

In [16]:
corr_var = pd.read_csv("/Users/antonogorodnikov/Documents/Work/DataSci/SCITO-seq/tests/var.csv", index_col=0)

In [17]:
adata.var = corr_var

In [18]:
scito_in = preprocess.ScitoFrame(from_scanpy=True, adata=adata)
demuxed = scito_in.resolveMux(batchid_string="barcode",
                        positiveQuantile=0.99,
                        n_clust=None,
                        n_init=100,
                        kfunc="kmeans",
                        distr_fit = "nbinom",
                        maxneighbor=100,
                        seed=42,
                        keep_input=True,
                        verbose=True)

Variable names are not unique. To make them unique, call `.var_names_make_unique`.
/Users/antonogorodnikov/anaconda3/envs/scito/lib/python3.7/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
Transforming to str index.

Keeping linear scale data for computing average
Performing k-means clustering

Transforming to str index.
/Users/antonogorodnikov/anaconda3/envs/scito/lib/python3.7/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Cutoff for barcode1: 2764 reads

/Users/antonogorodnikov/anaconda3/envs/scito/lib/python3.7/site-packages/scipy/sparse/_index.py:126: SparseEfficiencyWarning: Changing the sparsity structure of a csr_matrix is expensive. lil_matrix is more efficient.
  self._set_arrayXarray(i, j, x)

Cutoff for barcode2: 892 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode3: 660 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode4: 1182 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode5: 1017 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode6: 1691 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode7: 1398 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode8: 822 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode9: 1700 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode10: 197 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Keeping sparse matrix with antibody expression only. Target = self.input
Assigning best guesses

In [19]:
demuxed.obs.batch_name.unique()

array(['barcode1', 'barcode2', 'barcode3', 'barcode4', 'barcode5',
       'barcode6', 'barcode7', 'barcode8', 'barcode9', 'barcode10'],
      dtype=object)

In [20]:
doublet_rate = scito_in.meta.N_drops

In [21]:
# doublet rate
np.sum(scito_in.meta.N_drops[2:])/np.sum(scito_in.meta.N_drops)

0.5326680048627407

# Multiplet Rate for 200k

In [7]:
path = '/Users/antonogorodnikov/Documents/Work/DataSci/SCITO-seq/tests/200k_filtered_feature_bc_matrix.h5'
verbose = True

In [8]:
adata = sc.read_10x_h5(path, gex_only=False)

Variable names are not unique. To make them unique, call `.var_names_make_unique`.

In [9]:
adata

AnnData object with n_obs × n_vars = 49511 × 33818
    var: 'gene_ids', 'feature_types', 'genome'

In [10]:
corr_var = pd.read_csv("/Users/antonogorodnikov/Documents/Work/DataSci/SCITO-seq/tests/var.csv", index_col=0)

In [11]:
adata.var = corr_var

In [12]:
lol = preprocess.ScitoFrame(from_scanpy=True, adata=adata)

Variable names are not unique. To make them unique, call `.var_names_make_unique`.

In [13]:
lol_2 = lol.resolveMux(batchid_string="barcode",
                        positiveQuantile=0.99,
                        n_clust=None,
                        n_init=100,
                        kfunc="kmeans",
                        maxneighbor=100,
                        seed=42,
                        keep_input=False,
                        verbose=True)

/Users/antonogorodnikov/anaconda3/envs/scito/lib/python3.7/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
Transforming to str index.

Keeping linear scale data for computing average
Performing k-means clustering

Transforming to str index.
/Users/antonogorodnikov/anaconda3/envs/scito/lib/python3.7/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
/Users/antonogorodnikov/anaconda3/envs/scito/lib/python3.7/site-packages/scipy/sparse/_index.py:126: SparseEfficiencyWarning: Changing the sparsity structure of a csr_matrix is expensive. lil_matrix is more efficient.
  self._set_arrayXarray(i, j, x)

Cutoff for barcode1: 2634 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode2: 3043 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode3: 848 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode4: 1613 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode5: 1556 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode6: 2637 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode7: 2276 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode8: 1175 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode9: 1521 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode10: 320 reads
Assigning best guesses

In [17]:
lol.drop_assign.obs

,n_counts,batch_cluster,assignment,best_guess,expression
AAACCCAAGAGGTATT-1,2456.0,1,MTP,"(barcode2, barcode4)","(8.28, 7.8)"
AAACCCAAGAGTGGCT-1,2004.0,6,SNG,"(barcode2,)","(8.72,)"
AAACCCAAGCGCACAA-1,4173.0,9,MTP,"(barcode3, barcode8)","(8.26, 7.79)"
AAACCCAAGCGTCTCG-1,2133.0,8,MTP,"(barcode2, barcode8)","(8.35, 8.02)"
AAACCCAAGGAGCAAA-1,2147.0,4,MTP,"(barcode5, barcode4)","(8.06, 7.94)"
...,...,...,...,...,...
TTTGTTGTCGACACCG-1,1955.0,7,MTP,"(barcode10, barcode9)","(8.39, 7.56)"
TTTGTTGTCGGTTAGT-1,3297.0,8,MTP,"(barcode6, barcode3, barcode8)","(8.04, 7.97, 7.84)"
TTTGTTGTCGTGCTCT-1,2363.0,5,MTP,"(barcode9, barcode5, barcode10)","(8.11, 8.03, 7.49)"
TTTGTTGTCGTTCAGA-1,1589.0,8,SNG,"(barcode8,)","(8.88,)"
TTTGTTGTCTGCTTTA-1,1146.0,7,MTP,"(barcode1, barcode10)","(8.27, 8.08)"

In [47]:
lol_2.obs["order"] = list(range(lol_2.obs.shape[0]))

                   batch batch_name  order
AAACCCAAGGCTCTAT-1     0   barcode1      0
AAACCCACAAATCAGA-1     0   barcode1      1
AAACCCACAACGGGTA-1     0   barcode1      2
AAACCCACAAGTGATA-1     0   barcode1      3
AAACCCACAGAGTCTT-1     0   barcode1      4
...                  ...        ...    ...
TTTGTTGCACAACGTT-1     1  barcode10  88336
TTTGTTGTCCTTATGT-1     1  barcode10  88337
TTTGTTGTCGACACCG-1     1  barcode10  88338
TTTGTTGTCGTGCTCT-1     1  barcode10  88339
TTTGTTGTCTGCTTTA-1     1  barcode10  88340

[88341 rows x 3 columns]

In [48]:
lolol =lol_2.obs.merge(lol.drop_assign.obs, how="left", left_index=True, right_index=True, sort=False).sort_values(by='order')

In [49]:
lolol

,batch,batch_name,order,n_counts,batch_cluster,assignment,best_guess,expression
AAACCCAAGGCTCTAT-1,0,barcode1,0,1806.0,2,MTP,"(barcode1, barcode6)","(8.48, 6.75)"
AAACCCACAAATCAGA-1,0,barcode1,1,1746.0,2,SNG,"(barcode1,)","(8.73,)"
AAACCCACAACGGGTA-1,0,barcode1,2,3345.0,9,MTP,"(barcode1, barcode3)","(8.38, 8.05)"
AAACCCACAAGTGATA-1,0,barcode1,3,3442.0,7,MTP,"(barcode7, barcode1, barcode10)","(8.12, 8.01, 7.72)"
AAACCCACAGAGTCTT-1,0,barcode1,4,2661.0,1,MTP,"(barcode1, barcode4, barcode8)","(8.3, 7.94, 7.58)"
...,...,...,...,...,...,...,...,...
TTTGTTGCACAACGTT-1,1,barcode10,88336,2682.0,7,MTP,"(barcode8, barcode5, barcode10)","(8.19, 7.82, 7.6)"
TTTGTTGTCCTTATGT-1,1,barcode10,88337,4000.0,7,SNG,"(barcode10,)","(9.0,)"
TTTGTTGTCGACACCG-1,1,barcode10,88338,1955.0,7,MTP,"(barcode10, barcode9)","(8.39, 7.56)"
TTTGTTGTCGTGCTCT-1,1,barcode10,88339,2363.0,5,MTP,"(barcode9, barcode5, barcode10)","(8.11, 8.03, 7.49)"
TTTGTTGTCTGCTTTA-1,1,barcode10,88340,1146.0,7,MTP,"(barcode1, barcode10)","(8.27, 8.08)"

In [42]:
lolol

,batch,batch_name,n_counts,batch_cluster,assignment,best_guess,expression
AAACCCAAGAGGTATT-1,0,barcode2,2456.0,1,MTP,"(barcode2, barcode4)","(8.28, 7.8)"
AAACCCAAGAGGTATT-1,0,barcode4,2456.0,1,MTP,"(barcode2, barcode4)","(8.28, 7.8)"
AAACCCAAGAGTGGCT-1,0,barcode2,2004.0,6,SNG,"(barcode2,)","(8.72,)"
AAACCCAAGCGCACAA-1,0,barcode3,4173.0,9,MTP,"(barcode3, barcode8)","(8.26, 7.79)"
AAACCCAAGCGCACAA-1,0,barcode8,4173.0,9,MTP,"(barcode3, barcode8)","(8.26, 7.79)"
...,...,...,...,...,...,...,...
TTTGTTGTCGTGCTCT-1,0,barcode9,2363.0,5,MTP,"(barcode9, barcode5, barcode10)","(8.11, 8.03, 7.49)"
TTTGTTGTCGTGCTCT-1,1,barcode10,2363.0,5,MTP,"(barcode9, barcode5, barcode10)","(8.11, 8.03, 7.49)"
TTTGTTGTCGTTCAGA-1,0,barcode8,1589.0,8,SNG,"(barcode8,)","(8.88,)"
TTTGTTGTCTGCTTTA-1,0,barcode1,1146.0,7,MTP,"(barcode1, barcode10)","(8.27, 8.08)"
TTTGTTGTCTGCTTTA-1,1,barcode10,1146.0,7,MTP,"(barcode1, barcode10)","(8.27, 8.08)"

In [43]:
lolol.shape

(88341, 7)

In [20]:
lol.drop_assign.obs.shape

(49511, 5)

In [40]:
lol_2.obs

                   batch batch_name
AAACCCAAGGCTCTAT-1     0   barcode1
AAACCCACAAATCAGA-1     0   barcode1
AAACCCACAACGGGTA-1     0   barcode1
AAACCCACAAGTGATA-1     0   barcode1
AAACCCACAGAGTCTT-1     0   barcode1
...                  ...        ...
TTTGTTGCACAACGTT-1     1  barcode10
TTTGTTGTCCTTATGT-1     1  barcode10
TTTGTTGTCGACACCG-1     1  barcode10
TTTGTTGTCGTGCTCT-1     1  barcode10
TTTGTTGTCTGCTTTA-1     1  barcode10

[88341 rows x 2 columns]

In [11]:
doublet_rate = lol.meta.N_drops

In [12]:
# droplet rate
np.sum(lol.meta.N_drops[2:])/np.sum(lol.meta.N_drops)

0.6456343034881138

In [15]:
lol.drop_assign.obs.assingment

,n_counts,batch_cluster,assignment,best_guess,expression
AAACCCAAGAGGTATT-1,2456.0,1,MTP,"(barcode2, barcode4)","(8.28, 7.8)"
AAACCCAAGAGTGGCT-1,2004.0,6,SNG,"(barcode2,)","(8.72,)"
AAACCCAAGCGCACAA-1,4173.0,9,MTP,"(barcode3, barcode8)","(8.26, 7.79)"
AAACCCAAGCGTCTCG-1,2133.0,8,MTP,"(barcode2, barcode8)","(8.35, 8.02)"
AAACCCAAGGAGCAAA-1,2147.0,4,MTP,"(barcode5, barcode4)","(8.06, 7.94)"
...,...,...,...,...,...
TTTGTTGTCGACACCG-1,1955.0,7,MTP,"(barcode10, barcode9)","(8.39, 7.56)"
TTTGTTGTCGGTTAGT-1,3297.0,8,MTP,"(barcode6, barcode3, barcode8)","(8.04, 7.97, 7.84)"
TTTGTTGTCGTGCTCT-1,2363.0,5,MTP,"(barcode9, barcode5, barcode10)","(8.11, 8.03, 7.49)"
TTTGTTGTCGTTCAGA-1,1589.0,8,SNG,"(barcode8,)","(8.88,)"
TTTGTTGTCTGCTTTA-1,1146.0,7,MTP,"(barcode1, barcode10)","(8.27, 8.08)"